/* h1{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    color: blue;
}

.one{
    color: green;
}

#jithin{
    color:cyan;
} */


*{
    color:maroon;
}