/* h2{
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bolder;
    color: brown;
    text-align: center;
} */

.kunju{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: bolder;
    color: rgb(111, 0, 9);
    text-align: left;
}   